git+https://github.com/peter0749/etw_pytorch_utils.git@008950bef2837afe6ed457f77c077be0c20a8484
h5py~=3.2
numpy~=1.20
enum34~=1.1
future~=0.18
pykeops~=1.5
geomloss~=0.2
warmup-scheduler~=0.3
scikit-learn~=0.24
tensorboard~=2.4
torch==1.2.0 
torchvision==0.4.0